body{
    background: url(form.png);
    background-color:  hsl(0, 100%, 74%);
}
H1{
    
font-family:Arial, Helvetica, sans-serif ;
font-weight: bold;
    font-size: 45px;
    color: rgba(250, 248, 248, 0.966);
}
.para{
    color: rgba(250, 248, 248, 0.966);
    padding-left: 40px;
    margin-top: -20px;
}
.left{
justify-content: center;
align-items: center;
flex-direction: column;
display: flex;
float: left;
padding-top: 15%;
padding-left: 40px;
}
a{
   margin-top:15px;
   color: white;
}
.link{
    justify-content: center;
color: white;
    display: flex;
    background-color: hsl(248, 32%, 49%);
    border-radius: 6px;
width: 450px;
margin-right: 250px;
box-shadow: rgb(14, 243, 109);
text-shadow: whitesmoke;
scrollbar-shadow-color: tomato;
margin-top: 100px;
    float: right;
   
}
.butt{
    justify-content: center;
    flex-direction: column;

    display: flex;
  
    border-radius: 6px;
   
background-color: white;
padding: 30px;
margin-right: 250px;
margin-top: 40px;
    float: right;
}

.first{
    padding: 10px;
    width: 350px;
    border-radius: 5px;
    margin: 10px;
    border-color: blueviolet;
}
button{
    background-color:  hsl(154, 59%, 51%);
    color: white;
    width: 375px;
    height: 40px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.last{
    color:red;
    text-decoration: none;
    
}
.the{
    margin-left: 20px;
   font-size: smaller;
}
button:hover{
    background-color: aqua;
}
/* 

}
.left{
    justify-content: center;
    align-items: center;
  flex-direction: column;
  display: flex;
}
 */

@media screen and (max-width: 1219px){
    body{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
    
        }
 .link{
   margin-left:350px ;
 }
.butt{
    margin-left:350px ;
}

}
